.container-principal {
  margin: 1rem 3rem;
}

.container-geral{
  display: flex;
  margin: 1rem auto;
  gap: 1rem;
}

p{
  font-size: 18px;
  margin: 2px;
}

.container-esquerdo {
  width: 20%;
}

.container-direito {
  flex: 1;
  margin-left: 1rem;
}

.navigation {
  list-style-type: none;
  padding: 10px;
  background-color: var(--vermelho-base);
  border-radius: 1rem;
}

.navigation li {
  cursor: pointer;
  padding: 0.5rem;
  color: #f0f0f0;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.navigation li:hover {
  background-color: #e0e0e0;
  color: #333;
}

/* CURSO GERAL */
.curso-geral{
  background-color: var(--azul-base);
  padding: 1rem;
  border-radius: 8px;
}

.curso-geral p{
  color: #fff;
}

/* INFORMAÇÕES CURSO */

.info-curso {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.info-curso-ementa h3{
  color: var(--primario-titulos-hover)
}

.info-curso-ementa ul{
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-curso-ementa li{
  list-style: disc;
}

/* NOTAS e FALTAS */

/* .notas table,
.faltas table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
  overflow: hidden;
  border-left: none;
} */

.notas table,
.faltas table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  border: var(--vermelho-base) 2px solid;
}

.notas th,
.faltas th,
.notas td,
.faltas td {
  width: 100px;
  padding: 16px;
  text-align: center;
}

.notas td,
.faltas td {
  border-top: var(--vermelho-base) 2px solid;
}

.notas th,
.faltas th {
  background-color: var(--vermelho-escuro-10);
  color: #f0f0f0;
}

.notas h3,
.faltas h3 {
  margin: 10px;
}

td:nth-child(even) {
  background-color: #f1f1f1;
}

td:not(:last-child) {
  border-right: 2px solid var(--vermelho-base);
}



.drawer {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.drawer-header {
  background-color: #f7f7f7;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.drawer-header.show {
  background-color: #e7e7e7;
}

.drawer-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.drawer-content.show {
  max-height: 500px; /* Ajuste conforme necessário */
  transition: max-height 0.5s ease;
}

form {
  margin-top: 1rem;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
}

form input[type="file"] {
  margin-bottom: 1rem;
}

form button {
  background-color: darkred;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #b30000;
}
