body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    height: 5rem;
    width: 100%;
}
nav{
    display: flex;
    gap: 1rem;
}

main{
    flex: 1;
    height: 100%;
}

footer{
    position: relative;
    margin-top: 1rem;
}