<div class="container-principal">
    <h2>Meus Dados</h2>
    <hr>
    <div class="container-geral">
        <div class="container-direito">
            <div>
                <div class="meusDados">
                    <div>
                        <label for="nomeCompleto">Nome completo</label>
                        <input id="nomeCompleto" type="text" [(ngModel)]="aluno.nome" readonly>
                    </div>
                    <div>
                        <label for="emailInstitucional">E-mail institucional</label>
                        <input id="emailInstitucional" type="email" [(ngModel)]="aluno.emailInstitucional" readonly>
                    </div>
                    <div>
                        <label for="emailPessoal">E-mail pessoal</label>
                        <input id="emailPessoal" type="email" [(ngModel)]="aluno.emailPessoal" readonly>
                    </div>
                    <div>
                        <label for="dataNascimento">Data de Nascimento</label>
                        <input id="dataNascimento" type="text" [(ngModel)]="aluno.dataNascimento" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-esquerdo">
            <h2>Alterar Senha</h2>
            <hr>
            <div class="minhaSeguranca">
                <div class="alterarSenha">
                    <label for="novaSenha">Nova senha</label>
                    <input id="novaSenha" type="password" [(ngModel)]="novaSenha">
                    <label for="confirmarNovaSenha">Confirme a nova senha</label>
                    <input id="confirmarNovaSenha" type="password" [(ngModel)]="confirmarNovaSenha">
                    <button (click)="alterarSenha()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>