.container-principal {
    margin: 1rem 3rem;
    gap: 2rem;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    background-color: #800000;
    padding: 1rem;
    list-style: none;
}

.nav-links li {
    color: white;
    cursor: pointer;
}

.container-geral {
    display: flex;
    margin: 1rem 3rem;
    gap: 2rem;
}

.container-direito, .container-esquerdo {
    flex: 1;
}

.meusDados, .minhaSeguranca {
    margin: 1rem;
}

.meusDados {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.meusDados label, .alterarSenha label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--azul-base);
}

.meusDados input, .alterarSenha input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.alterarSenha {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.alterarSenha button {
    padding: 0.5rem;
    background-color: #8bc34a;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
}
