<div class="container-principal">
  <h2>Eventos</h2>
  <hr>
  <div class="eventos-toggle">
    <button 
      (click)="mostrarProximosEventos()" 
      [class.selected]="eventosVisiveis === 'proximos'"
    >Próximos Eventos</button>
    <button 
      (click)="mostrarEventosConcluidos()" 
      [class.selected]="eventosVisiveis === 'concluidos'"
    >Eventos Concluídos</button>
  </div>
  <div *ngIf="eventosVisiveis === 'proximos'" class="event-list">
    <app-card-evento-maior
      *ngFor="let evento of proximosEventos"
      [cardSrcImg]="evento.srcImg"
      [cardAltImg]="evento.altImg"
      [cardTitulo]="evento.titulo"
      [cardData]="evento.data"
      [cardDescricao]="evento.descricao"
      [cardLink]="evento.link">
    </app-card-evento-maior>
  </div>
  <div *ngIf="eventosVisiveis === 'concluidos'" class="event-list">
    <app-card-evento-maior
      *ngFor="let evento of eventosConcluidos"
      [cardSrcImg]="evento.srcImg"
      [cardAltImg]="evento.altImg"
      [cardTitulo]="evento.titulo"
      [cardData]="evento.data"
      [cardDescricao]="evento.descricao"
      [cardLink]="evento.link">
    </app-card-evento-maior>
  </div>
</div>
