.drawer {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .drawer-header {
    padding: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .drawer-content {
    padding: 10px;
    display: none;
  }
  
  .drawer-content.show {
    display: block;
    border-radius: 5px 5px 0 0;
  }

  .drawer-header.show{
    border-radius: 4px 4px 0 0;
  }
  