<div class="container-principal">
  <h2>Centro de Línguas da Faculdade</h2>
  <hr>
  <div class="descricao">
    <p>O Centro de Línguas da Faculdade XYZ oferece uma variedade de cursos de línguas estrangeiras para estudantes e
      membros da
      comunidade. Nossos cursos são ministrados por professores experientes e qualificados, e proporcionam uma
      oportunidade única
      para melhorar suas habilidades linguísticas e culturais.
      O Centro de Línguas da Faculdade XYZ oferece uma variedade de cursos de línguas estrangeiras para estudantes e
      membros da
      comunidade. Nossos cursos são ministrados por professores experientes e qualificados, e proporcionam uma
      oportunidade única
      para melhorar suas habilidades linguísticas e culturais.
      O Centro de Línguas da Faculdade XYZ oferece uma variedade de cursos de línguas estrangeiras para estudantes e
      membros da
      comunidade. Nossos cursos são ministrados por professores experientes e qualificados, e proporcionam uma
      oportunidade única
      para melhorar suas habilidades linguísticas e culturais.</p>
    <img src="../../../../assets/image.png" alt="Imagem do Centro de Línguas" width="400" height="200">
  </div>
  <h2>Nossos Professores</h2>
  <hr>
  <div class="professores">
    <div class="professor">
      <img src="../../assets/profile-default.png" alt="Foto do Professor 1" width="100" height="100">
      <p>Nome do Professor 1</p>
    </div>
    <div class="professor">
      <img src="../../assets/profile-default.png" alt="Foto do Professor 2" width="100" height="100">
      <p>Nome do Professor 2</p>
    </div>
    <div class="professor">
      <img src="../../assets/profile-default.png" alt="Foto do Professor 2" width="100" height="100">
      <p>Nome do Professor 2</p>
    </div>
    <div class="professor">
      <img src="../../assets/profile-default.png" alt="Foto do Professor 2" width="100" height="100">
      <p>Nome do Professor 2</p>
    </div>
    <div class="professor">
      <img src="../../assets/profile-default.png" alt="Foto do Professor 2" width="100" height="100">
      <p>Nome do Professor 2</p>
    </div>
    <!-- Adicione mais professores conforme necessário -->
  </div>
</div>