
* {
  color: #fff;
}

.container-principal {
  background-color: var(--vermelho-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 5rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  height: 40px;
  margin-right: 10px;
}

.navbar-login {
  display: flex;
  align-items: center;
  gap: 2rem;
  
}

.navbar-login a, .navbar-perfil {
  text-decoration: none;
  font-size: 16px;
}

.profile-menu {
  display: none;
  position: absolute;
  background-color: var(--vermelho-base);
  border-radius: 8px;
  right: 1rem;
  top: 6rem;
  color: #fff;
  list-style: none;
  padding: 1rem;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona sombreamento */
}

.navbar-perfil {
  display: contents;
}

.profile-menu li {
  padding: 10px;
}

.profile-menu li:hover, .navbar-login a:hover, .navbar-perfil p:hover {
  font-weight: bold;
  cursor: pointer;
}

/* Novo estilo para quando o menu é clicado */
.navbar-perfil .profile-menu.clicked {
  display: block;
}

 
