.container-principal {
    margin: 1rem 3rem;
    gap: 2rem;
}

.botoes{
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.botoes button{
    border: none;
    background-color: var(--vermelho-base);
    color:#f0f0f0;
    padding: 0.5rem;
    width: 150px;
    cursor: pointer;
    border-radius: 8px;
}
.botoes button:hover{
    background-color: var(--vermelho-escuro-10);
}

.notas table,
.faltas table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  border: var(--vermelho-escuro-10) 2px solid;
}

.notas th,
.faltas th,
.notas td,
.faltas td {
  width: 100px;
  padding: 16px;
  text-align: center;
}
 
.notas td,
.faltas td {
  border-top: var(--vermelho-escuro-10) 2px solid;
}

.notas th,
.faltas th {
  background-color: var(--vermelho-escuro-10);
  color: #f0f0f0;
}

.notas h3,
.faltas h3 {
  margin: 10px;
}

td:nth-child(even) {
  background-color: #f1f1f1;
}

td:not(:last-child) {
  border-right: 2px solid var(--vermelho-escuro-10);
}