<main class="container-principal">
    <h2>Meus Cursos</h2>
    <hr>
    <div class="ctn-geral-cursos">
        <app-drawer [isOpen]="true" title="Em Andamento" [headerStyle]="{ backgroundColor: '#ba0000', color:'white', padding:'20px'}">
            <div class="ctn-andamento">
                <div class="ctn-andamento-cursos">
                    <app-card-quadrado-modelo *ngFor="let curso of cursos" [cardConteudo]="curso.cardConteudo"
                        [cardNivel]="curso.cardNivel" [cardLink]="curso.cardLink"></app-card-quadrado-modelo>
                </div>
            </div>
        </app-drawer>
        <app-drawer title="Concluídos" [headerStyle]="{ backgroundColor: '#ba0000', color:'white', padding:'20px'}">
            <div class="ctn-concluido">
                <div class="ctn-concluido-cursos">
                    <app-card-quadrado-modelo *ngFor="let curso of cursos" [cardConteudo]="curso.cardConteudo"
                        [cardNivel]="curso.cardNivel"></app-card-quadrado-modelo>
                </div>
            </div>
        </app-drawer>
    </div>
</main>