<div class="container-principal">
    <div class="container-esquerdo">
      <h2>Olá {{nomeProfessor}}</h2>
      <hr>
      <div class="ctn-esquerdo-geral">
        <div class="ctn-esquerdo-turmas">
          <h2>Minhas turmas</h2>
          <div class="cursos-unds">
            <app-card-quadrado-modelo *ngFor="let curso of cursos" [cardConteudo]="curso.cardConteudo"
                                      [cardNivel]="curso.cardNivel" [cardLink]="curso.cardLink"></app-card-quadrado-modelo>
          </div>
        </div>
        <div class="ctn-esquerdo-adicionais">
          <app-card-quadrado-modelo cardConteudo="Agenda Pessoal" cardLink="/agenda"></app-card-quadrado-modelo>
          <app-card-quadrado-modelo cardConteudo="Minhas Tarefas"></app-card-quadrado-modelo>
          <app-card-quadrado-modelo cardConteudo="Eventos do Centro de Línguas" cardLink="/os-eventos"></app-card-quadrado-modelo>
        </div>
      </div>
    </div>
    <div class="container-direito">
      <h2>Recados</h2>
      <hr>
      <div class="ctn-direito-mural">
        <div class="ctn-direito-recadoCL">
          <h3 class="h3-direito">Centro de Línguas</h3>
          <p>
            Caros alunos,
            <br>
            Estamos nos aproximando de um período crucial em nosso curso de línguas, onde suas habilidades serão avaliadas e seu
            progresso será medido. As datas das provas foram cuidadosamente selecionadas para garantir que todos tenham tempo 
            suficiente para revisar e se preparar adequadamente.
          </p>
        </div>
        <div class="ctn-direito-escreverRecado">
          <h3 class="h3-direito">Adicionar Recado</h3>
          <input type="text" [(ngModel)]="novaPostagem.nome" placeholder="Título do Recado">
          <textarea [(ngModel)]="novaPostagem.descricao" placeholder="Mensagem do Recado"></textarea>
          <button (click)="adicionarRecado()">Adicionar Recado</button>
        </div>
      </div>
    </div>
  </div>
  