.conteudo-principal {
    background-color: var(--azul-base);
    padding: 1.5rem;
    margin-top: 1rem;
}

.conteudo-principal.professor {
    background-color: var(--vermelho-base);
}

.ctn-items {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

span {
    color: #fff;
    margin-left: 1rem;
}