.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 3rem;
}

hr {
  border: none;
  height: 1px;
  background-color: #FE0000;
}

.ctn-Esquerdo{
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ctn-Direito {
  flex: 1;
}

.info-curso {
  display: flex;
  gap: 3rem;
}

.professor-card {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.professor-card img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.cursos {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.curso-card {
  background-color: darkred;
  display: flex;
  width: 150px;
  margin-bottom: 1rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
}

.curso-card h2 {
  margin: 0;
  color: #fff;
}


.descricao-curso h3 {
  margin-top: 0;
}

.descricao-curso ul {
  padding-left: 20px;
}
