<div class="container">
    <h2>Cursos Disponíveis</h2>
    <hr>
    <div class="cursos">
        <div *ngFor="let curso of cursos" class="curso-card" (click)="mostrarDescricao(curso)">
            <h2>{{ curso.nomeCurso }}</h2>
        </div>
    </div>
    <div *ngIf="cursoSelecionado" class="info-curso">
        <div class="ctn-Esquerdo">
            <h2>{{ cursoSelecionado.nomeCurso }}</h2>
            <p><strong>Horário:</strong> {{cursoSelecionado.horarioCurso}}</p>
            <p><strong>Duração:</strong> {{cursoSelecionado.duracaoCurso}}</p>
                <div class="descricao">
                    <p> {{ cursoSelecionado.descricaoCurso }}</p>
                    <br>
                    <h4>Módulos</h4>
                       <app-drawer title="Estágio Básico">
                           <h4>Estágio Básico</h4>
                           <p>{{cursoSelecionado.descricaoBasico}}</p>
                        </app-drawer>
                        <app-drawer title="Estágio Intermediário">
                            <h4>Estágio Intermediário</h4>
                            <p>{{cursoSelecionado.descricaoIntermediario}}</p>
                        </app-drawer>
                        <app-drawer title="Estágio Avançado">
                            <h4>Estágio Avançado</h4>
                            <p>{{cursoSelecionado.descricaoAvancado}}</p>
                        </app-drawer>
               </div>
            </div>
            <div class="ctn-Direito">
                <div class="professor">
                    <img [src]="cursoSelecionado.professorCurso.foto" alt="Foto do Professor" width="100" height="100">
                    <p>{{ cursoSelecionado.professorCurso.nome }}</p>
                    <p>{{cursoSelecionado.professorCurso.email}}</p>
                </div>
            </div>
    </div>
</div>
