.curso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 10rem;
    width: 10rem;
    border: 1px solid brown;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    padding: 0.5rem;
}

p{
    color: brown;
}

.curso:hover, .curso:hover p{
    background-color: brown;
    color: white;
}