<div class="container-principal">
    <h2>Minhas Turmas</h2>
    <hr>
    <div class="ctn-geral-turmas">
        <app-drawer [isOpen]="true" title="Em Andamento" [headerStyle]="{ backgroundColor: '#005C6D', color:'white', padding:'20px'}">
            <div class="ctn-andamento">
                <div class="ctn-andamento-turmas">
                    <app-card-quadrado-modelo *ngFor="let turma of turmas" [cardConteudo]="turma.cardConteudo"
                        [cardNivel]="turma.cardNivel" [cardLink]="turma.cardLink"></app-card-quadrado-modelo>
                </div>
            </div>
        </app-drawer>
        <app-drawer title="Concluídos" [headerStyle]="{ backgroundColor: '#005C6D', color:'white', padding:'20px'}">
            <div class="ctn-concluido">
                <div class="ctn-concluido-turmas">
                    <app-card-quadrado-modelo *ngFor="let turma of turmas" [cardConteudo]="turma.cardConteudo"
                        [cardNivel]="turma.cardNivel"></app-card-quadrado-modelo>
                </div>
            </div>
        </app-drawer>
    </div>
</div>